<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testsuite" verbose="1">
    <test name ="Login and Search">
        <classes>
            <class name="Tests.LoginTest"/>
            <class name="Tests.SearchTest"/>
            <class name="Tests.AddToCartTest"/>
            <class name="Tests.CheckoutTest"/>
            <class name="Tests.RegistrationTest"/>
            <class name="Tests.LogoutTest"/>
        </classes>
    </test>
</suite>